@font-face {
    font-family: 'Kufam';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/kufam/v2/C8c-4cY7pG7w_oSJDszBXsKCcBH3lqkLrgqI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
    background-color: black;
    color: white;
    font-family: 'Kufam';
}

h1 {
    text-align: center;
}

img {
    transition: all 0.3s;
}

img.logo {
    width: 50px;
    height: 50px;
    border: 2px solid goldenrod;
    transition: all 0.5s;
}

img.logo:hover {
    border-radius: 50%;
    transform: rotate(15deg) scale(1.5);
    margin: 30px;
    padding: 10px;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container img {
    margin: 10px;
    transition: all 0.1s;
}

.flex-container img:hover {
    margin: 30px;
    border-radius: 50%;
    border: 2px solid goldenrod;
    transform: rotate(10deg) scale(1.1);
}

.expand {
    transform: rotate(10deg) scale(1.2);
    border-radius: 50%;
}